<h1>PlayLister Songs</h1>
<a href="/">Home</a>
<a href="/artists">Artists</a>
<a href="/genres">Genres</a>

<% @songs.each do |song| %>
    <ul>
        <li>
            <h2><a href="/songs/<%="#{song.slug}"%>"><%= song.name %></a></h2>
        </li>
    </ul>

<% end %>
