<h1>Playlister</h1>

<h3>Menu</h3>
<ul>
    <li>
        <h2><a href="/songs">All Songs</a></h2>
    </li>
    <li>
        <h2><a href="/artists">All Artists</a></h2>
    </li>
    <li>
        <h2><a href="/artists">All Genres</a></h2>
    </li>
    <li>
        <h2><a href="/songs/new">New Song</a></h2>
    </li>
</ul>
